@import "./index.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 40px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
